[submodule "extern/tiny-bignum-c"]
	path = extern/tiny-bignum-c
	url = git@github.com:kokke/tiny-bignum-c.git
[submodule "cpwn_extern/tiny-bignum-c"]
	path = cpwn_extern/tiny-bignum-c
	url = https://github.com/kokke/tiny-bignum-c.git
